/* CSS Document */
.SeeButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408055), color-stop(1, #61ab6a) );
	background:-moz-linear-gradient( center top, #408055 5%, #61ab6a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408055', endColorstr='#61ab6a');
	background-color:#408055;
	border:1px solid #6b6b6b;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 15px;
	text-decoration:none;
	cursor:pointer;
}.SeeButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #61ab6a), color-stop(1, #408055) );
	background:-moz-linear-gradient( center top, #61ab6a 5%, #408055 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#61ab6a', endColorstr='#408055');
	background-color:#61ab6a;
}.SeeButton:active {
	position:relative;
	top:1px;
}


.SeeBGray {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999), color-stop(1, #bbb) );
	background:-moz-linear-gradient( center top, #999 5%, #bbb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#bbb');
	background-color:#999;
	border:1px solid #bbb;
}.SeeBGray:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bbb), color-stop(1, #999) );
	background:-moz-linear-gradient( center top, #bbb 5%, #999 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#999');
	background-color:#bbb;
}



.smbtn { padding: 3px 10px; font-size:11px; }

input.text {
	padding:3px;
	color:#333;
	
	border:1px solid #96A6C5;
	margin-top:2px;
	width:200px;
	font-size:11px;
}

.focusField{
	color:#333;
	font-weight:normal;
}
.idleField{
	color: #999;
	font-weight:bold;
}


select {
margin:1px;
cursor: default;
font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
font-size: 11px;
min-height: 15px;
text-shadow: none;
text-transform: none;
white-space: pre;
word-spacing: 0px;
padding: 0px 5px 0px 5px;
z-index: inherit;
}

body {
background: white;
font-size: 12px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
color: #333;
line-height: 14px;
margin: 0;
padding: 0;
text-align: left;
direction: ltr;
unicode-bidi: embed;
display:block;
overflow-y:scroll;
}

img { border: 0 }

a { color: #369; text-decoration:none; }
	a:visited { color: #369; }
	a:hover, a:focus { text-decoration:none; color:#f60; }
	a:active { color:#f60; }

h1 { margin: 10px 0 2px 0; padding: 0; font-size:16px; }
h2 { margin: 10px 0 2px 0; padding: 0; font-size:12px; } 
h4 { margin: 0; padding: 0; font-size:12px; }
h5 { margin: 0; padding: 0 0 5px 0; font-size:12px; color: #0E385F; }
h6 { margin: 0; padding: 2px 0 2px 0; font-size:10px; color: #0E385F; }

.header {margin:0; padding:0; background-color:#2B3245; height:50px; color: #fff; padding-top:5px; }
.header a {color: #fff;}
.header a:visited { color: #fff; }
.header a:hover, a:focus { text-decoration:none; color:#2B3245; }

.header ul {list-style:none; font-family:Verdana, Geneva, sans-serif; font-size:12px; cursor:default;}
.header li {float: left; margin-right:10px; }
.header li a { padding:1px 8px 1px 8px; }
.header li a:hover { background-color: #fff; color: #2B3245; }
.header li a:active { background-color: #fff; color: #2B3245; }

.footer {margin:0; padding:0; background-color:#2B3245; color: #fff; }
 
.main { width: 960px; margin:0 auto; }
.clear {clear:both;}
.content { background-color: #eee; margin:0; padding:0; }

.leftside {float:left; width:780px; padding:10px 0 0 10px; }
.rightside { float:right; width:160px; padding:10px 10px 0 0;}

.white {background-color: white;}
.f_right {float:right;}
.t10 {margin-top:10px;}
.noborder { border:none; }
.bborder {	border-bottom: 1px solid #ddd; }

.menu { background-color:#369; color:#fff; padding:4px 4px 4px 20px; margin-bottom:10px;}

.menu a { color:#fff; text-decoration:none; font-weight:bold;}
.menu a:visited { color:#fff; }
.menu a:hover, a:focus { text-decoration:none; color:#f60; }
.menu a:active { color:#f60; }

.section { color:#666; font-size:11px; margin-top:10px; padding-bottom:5px; border-bottom:1px solid #ddd;}
.section h1 { color:#369; font-size:18px; margin-bottom:5px;}
.section h2 { color:#369; font-size:16px; margin-bottom:5px;}
.code { border:0; background-color:#eee; padding: 10px; margin:0; width: 690px; font-family: monospace; font-size:11px;}

.files { background-color: #eee; width:170px; height:30px; float:left; margin: 0 5px 5px 0; padding:2px; font-size:10px; overflow:hidden;}
.fname { width:160px; height:12px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.prog { width: 100%; background-color:#fff; height:4px; margin-top:5px; border:1px solid #333;}
.prog_inn { width:0%; background-color:#03C; height:4px; }
.leftside { padding-left:10px; float:left; width:710px;}
.rightside { float:right; width:160px; padding-right:10px;}
.logo {float:left; margin-top:15px;}
.jimages {
	border: 1px solid #999;
	-moz-box-shadow: 3px 3px 3px #ccc;
	-webkit-box-shadow: 3px 3px 3px #ccc;
	box-shadow: 3px 3px 3px #ccc;
}

#imain h3 {font-size:11px; margin:0; padding:0;}
#imain h4 {font-size:9px; margin:0; padding:0;}

.postmain {
	margin-top:20px;
	height:auto;
	border: 1px solid #eee; 
	padding:5px; 
	color: #aaa;	
	border-top: 1px solid #E1E5F0;
}

.postreply {
	margin:10px 0 0 70px;
	height:auto;
	border: 1px solid #eee; 
	padding:5px; 
	color: #aaa;	
	border-top: 1px solid #E1E5F0;
	background-color: #eee;
}
.postreply label { clear:left; width:56px; float:left; padding:5px 0 0 0;}
.postreply .invtext {padding-left:58px; font-size:9px; color:red;} 

.postmain label { clear:left; width:85px; float:left; padding:5px 0 0 0;}
.postmain span { padding:5px 0 0 0;}
.postmain .invtext {padding-left:85px; font-size:9px; color:red;} 
 
.offstream img { width: 50px; float:left; margin-right:10px;}

.u_phlink img {
	opacity:0.4;
	filter:alpha(opacity=40);
	cursor:pointer;
}
.u_phlink img:hover {
	opacity:1.0;
	filter:alpha(opacity=100);
}

.u_post_img {
	width:50px; 
	height:50px; 
	overflow:hidden; 
	margin-right:10px;"
}
.u_post_img img { width: 50px; float:left; margin-right:10px;}
.u_post_link { border-left: 2px solid #ddd; padding-left:10px; margin:10px 0 0 0; }
.u_post_edit { outline:0; width: inherit; min-height:20px; cursor: text; word-wrap: break-word; padding:4px; color:#333; font: normal normal normal 12px/1.4 Helvetica, sans-serif; margin-right:20px; }
.u_post_edit_c { margin-left:30px; outline:0; width: inherit; min-height:16px; cursor: text; word-wrap: break-word; padding:4px; color:#333; background-color:#fff; border:1px solid #ddd;}
.u_comment { margin:5px; padding:5px; }
.u_com_line { background-color:#eee; border-bottom:1px solid #fff; padding:3px; position:relative;}
.u_com_line table {border-collapse:collapse;}
.u_post_com {
	width:30px;
	height:30px;  
	overflow:hidden; 
	margin-right:5px;"
}
.u_post_com img { width: 30px; float:left; }

.u_stream_p {
	width: inherit; 
	padding-top:10px;
	padding-bottom:0px;
	border-bottom: 1px solid #ddd;
	background-color: inherit;
}
.u_stream_p table {	margin:0; padding:0; border-collapse:collapse; }
.u_item_del { width: 20px; }
.u_item_del img {
	width:10px;
	opacity:0.6;
	filter:alpha(opacity=60);
	cursor:pointer;
}
.u_item_del img:hover {
	opacity:1.0;
	filter:alpha(opacity=100);
}

.u_item_post { position:absolute; top:4px; right:0px; float:right; width:10px; }

.inputtext { 
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif; 
	border: 1px solid #ddd;
	font-size: 11px;
	padding: 3px;
	margin-bottom: 0px;
}

.inputmax {
	width: 300px;
}

.inputmaxa {
	width: 380px;
}

.u_post_des {
	outline:0; 
	width: inherit; 
	min-height:30px; 
	cursor: text; 
	word-wrap: break-word; 
	padding:4px; 
	color:#333; 
	font: normal normal normal 12px/1.4 Helvetica, sans-serif; 
	margin-right:20px;
}
.u_comment { margin-bottom:5px; position:relative; border-bottom:1px solid #ddd;}
.watermark {color: #aaa};

.c_menu { color:#fff; font-size:11px; cursor:default; }
.c_menu div { padding: 2px 5px; }
.c_menu div:hover { background-color:#fff; color:#2B3245; }
.c_menu div:hover a { color:#2B3245; }
.c_menu a { color: #fff; }
.c_menu a:visited { color: #fff; }
.c_menu a:hover, a:focus { text-decoration:none; color:#2B3245; }
.c_menu a:active { color:#2B3245; }

#fdemo1 div { margin-bottom:5px; }
#fdemo1 label { clear:left; width:80px; float:left; padding:4px 0 0 0;}
#fdemo1 .ntext { border:1px solid #ddd; padding: 3px; width:200px;}
#fdemo1 .invtext { margin-left: 80px; clear:left; font-size:9px; font-style:italic; color:#999; display:none; padding:0;}
#fdemo1 .invalid { content: url(http://www.jscripts.info/unchecked.png); display:none; margin: 0 0 0 5px;}
#fdemo1 .valid {  content: url(http://www.jscripts.info/checked.png); display:none; margin: 0 0 0 5px; }
#fdemo1 .v_error { border:1px solid #F00;}
#fdemo1 .elabel { font-weight:bold; color:red;}
#fdemo1 .watermark { color: #aaa; }


.anc { 
	position:absolute; 
	width:12px;
	height:12px;
	padding:0px; 
	background-color: #ddd;
	font-size:9px;
	text-align:center;
	color: #000;
	font-family:Verdana, Geneva, sans-serif;
}

.disabled {
	background:#ddd;
	cursor: default;		
}
.enabled {
	background:#0F6;
	cursor:pointer;
}
.active {
	background:red;
	cursor:pointer;		
}

.jtclass { 
	text-align:center; width:50px; height:45px; border:1px solid #ddd; margin:0 20px 0 0; float:left;
	padding:15px 5px 0 5px;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	background-color:#369; color:#fff;
	cursor:default;
	zoom:1;
}

.tc_menu div { cursor:pointer; padding:2px 10px 2px 10px;}
.tc_menu div:hover { background-color:#369; color:#fff; }
.tc_menu a {color: inherit; }

.feed {
	height:160px;
	overflow:hidden;
	padding-top:10px;
}

.feed h3 {margin:0; padding:0}
.feed h4 {margin:0 0 5px 0; padding:0; font-size:9px;}
.feed h5 {margin:5px 0 0 0; padding:0; font-size:9px;}	
.feed img { margin-right:10px; }

#contactform div { margin-bottom:5px; }
#contactform label { clear:left; width:120px; float:left; padding:4px 0 0 0;}
#contactform .ntext { border:1px solid #ddd; padding: 3px; width:280px;}
#contactform .invtext { margin-left: 120px; clear:left; font-size:9px; font-style:italic; color:#999; display:none; padding:0;}
#contactform .invalid { content: url(http://www.jscripts.info/unchecked.png); display:none; margin: 0 0 0 5px;}
#contactform .valid {  content: url(http://www.jscripts.info/checked.png); display:none; margin: 0 0 0 5px; }
#contactform .v_error { border:1px solid #F00;}
#contactform .elabel { font-weight:bold; color:red;}
#contactform .watermark { color: #aaa; }